<div class="container">
		<div class="fixed">
		<img src="assets/images/img.png" width="500px"><hr style="width:85%">
		</div>
		<h2>re<i class="fas fa-search"></i></h2>
		<div class="landing-text">
				<h1>Real Estate Investing Information <br>That Matters To You.</h1>
				<p>Limited to San Francisco Bay Area—Join our BETA!</p>
         </div>
		 
         <div class="Sign-Up">
		 <a routerLink="/Signup" ><button>SIGN UP WITH LINKEDIN</button></a>
		 </div>
		 <div class="Sign-in">
            	<p><a href="#">Sign in</a></p>
          </div>
</div>